<div>
    <h1>
        Here's a random suggestion for you.
    </h1>
</div>
<main>
  <div class="movie-card">
    <h2><%= movie.title %></h2>
    <p><strong>Release Year:</strong> <%= movie.releaseYear %></p>
    <p><strong>Description:</strong> <%= movie.description %></p>
    <p><strong>Director:</strong> <%= movie.director %></p>
    <p><strong>Rating:</strong> <%= movie.rating %></p>
    <p><strong>Genre:</strong> <%= movie.genre %></p>
  </div>
</main>
